
@{
    ViewBag.Title = "ManageMemberPartial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model  XIR6_26.Models.ViewModel.MemberDataView

<div>
    <h1>List of Member</h1>
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nama</th>
                <th>Telepon</th>
                <th>Saldo</th>
                <th>Opsi</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.MemberProfile)
            {
                <tr>
                    <td> @Html.DisplayFor(m => i.id_member)</td>
                    <td> @Html.DisplayFor(m => i.nama)</td>
                    <td> @Html.DisplayFor(m => i.telepon)</td>
                    <td> @Html.DisplayFor(m => i.saldo)</td>
                    <td><a href="javascript:void(0)" class="lnkEdit">Edit</a></td>
                    <td><a href="javascript:void(0)" class="lnkDelete">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="divEdit" style="display:none">
    <input type="hidden" id="hidID" />
    <table>
        <tr>
            <td>Nama</td>
            <td><input type="text" id="txtNama" class="form-control" /></td>
        </tr>
        <tr>
            <td>Telepon</td>
            <td><input type="text" id="txtTelepon" class="form-control" /></td>
        </tr>
        <tr>
            <td>Saldo</td>
            <td><input type="text" id="txtSaldo" class="form-control" /></td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    $(function () {
        var initDialog = function (type) {
        var title = type;
        $("#divEdit").dialog({
            autoOpen: false,
            modal: true,
            title: type + ' Member',
            width: 360,
            buttons: {
                Save: function ()
                {
                    var id = $("#hidID").val();
                    var nama = $("#txtNama").val();
                    var telepon = $("#txtTelepon").val();
                    var saldo = $("#txtSaldo").val();
                    UpdateMember(id, nama,telepon,saldo);
                    $(this).dialog("destroy");
                },
                Cancel: function () { $(this).dialog("destroy"); }
            }
        });
    }
    function UpdateMember(id, nama, telepon, saldo) {
        $.ajax({
        type: "POST",
        url: "@(Url.Action("UpdateMemberData", "Member"))",
        data: { MemberID: id, nama : nama, telepon: telepon, saldo : saldo},
        success: function (data) {
        $("#divUserListContainer").load("@(Url.Action("ManageMemberPartial","Member", new { status
        ="update" }))");
        },
        error: function (error) {
        //to do:
        }
        });
        }
        $("a.lnkEdit").on("click", function () {
        initDialog("Edit");
        $(".alert-success").empty();
        var row = $(this).closest('tr');
        $("#hidID").val(row.find("td:eq(0)").html().trim());
        $("#txtNama").val(row.find("td:eq(1)").html().trim())
        $("#txtTelepon").val(row.find("td:eq(2)").html().trim())
        $("#txtSaldo").val(row.find("td:eq(3)").html().trim())
        $("#divEdit").dialog("open");
        return false;
        });
    function DeleteMember(id) {
        $.ajax({
        type: "POST",
        url: "@(Url.Action("DeleteMember","Member"))",
        data: { MemberID: id },
        success: function (data) {
        $("#divUserListContainer").load("@(Url.Action("ManageMemberPartial","Member", new { status
        ="delete" }))");
        },
        error: function (error) { }});
        }
        $("a.lnkDelete").on("click", function () {
        var row = $(this).closest('tr');
        var id = row.find("td:eq(0)").html().trim();
        var answer = confirm("apakah anda yakin akan menghapus Member dengan ID " + id + "?");
        if (answer)
        DeleteMember(id);
        return false;
        });
        });
    </script>
<span class="alert-success">@ViewBag.Message</span>

